<section class="extras">
  <section class="margin-bottom-2">
    <h4><strong>What is Convox?</strong></h4>
    <p>Convox is an open-source PAAS that makes the cloud simple.</p>
  </section>

  <section class="margin-bottom-2">
    <h4><strong>Keep up</strong></h4>
    <p>Convox is evolving quickly. Subscribe to our newsletter to stay on top of the latest developments.</p>
    {% include mailchimp.html %}
  </section>

  <section class="margin-bottom-2">
    <h4><strong>Have a chat</strong></h4>
    <p>Click to join our active and friendly Slack community.</p>
    <script async defer src="https://invite.convox.com/slackin.js?large=true"></script>
  </section>

  <section class="margin-bottom-2">
    <h4><strong>Reach out</strong></h4>
    <p>We're <i>@goconvox</i> on Twitter.</p>
    <a class="twitter-share-button" data-size="large" href="https://twitter.com/intent/tweet"></a>
  </section>

  <section>
    <h4><strong>Dive in</strong></h4>
    <p>Ready to get started? <a href="https://console.convox.com/grid/signup">Sign up</a> for a Convox account now.</p>
  </section>
</section>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };

    return t;
}(document, "script", "twitter-wjs"));</script>
