<div class="row">
  <div class="col-xs-12">
    <div><a class="twitter-share-button" data-size="large" href="https://twitter.com/intent/tweet"></a></div>
    <div><a id="js-hn-submit-link" class="hn-decorate" href="#">Hacker News</a></div>
    <div class="blog-rss"><a href="/blog/rss.xml"><i class="material-icons md-36">rss_feed</i> RSS</a></div>
  </div>
</div>

<script>
  var postUrl = encodeURIComponent(document.location);
  var postTitle = encodeURIComponent(document.title);
  var hnSubmitUrl = 'http://news.ycombinator.com/submitlink?u=' + postUrl + '&t=' + postTitle;

  $('#js-hn-submit-link').click(function () { window.open(hnSubmitUrl, '_blank'); });
</script>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };

    return t;
}(document, "script", "twitter-wjs"));</script>
