<section class="extras">
  <section class="what-is-convox">
    <h3>What is Convox?</h3>
    <p>Convox is an open-source framework for your cloud infrastructure.</p>
  </section>

  <section class="newsletter">
    <h3>Keep up</h3>
    <p>Convox is evolving quickly. Subscribe to our newsletter to stay on top of the latest developments.</p>
    {% include mailchimp.html %}
  </section>

  <section class="console">
    <h3>Dive in</h3>
    <p>Ready to get started? <a href="https://console.convox.com/grid/signup">Sign up</a> for a Convox account now.</p>
  </section>
</section>
