<section id="contact" class="index col-xs-12">
  <div class="content">
    <p class="col-xs-12">
      Have a question? Join us in our public Slack channel!
    </p>
    <p class="col-xs-12">
      <a class="slack-button" href="//invite.convox.com/">
        <img src="/assets/images/static/slack-logo.png" class="slack-button__logo" alt="Slack Logo">
      </a>
    </p>
    <p></p>
    <p class="col-xs-12">
      Want product updates and important industry news? Subscribe to our newsletter!
    </p>
    <p class="col-xs-12">
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup" style="text-align: center;">
        <form action="//convox.us10.list-manage.com/subscribe/post?u=55a0526a0c4fd5e0010c9bae3&amp;id=69fa821fe6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="slack-button">
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_55a0526a0c4fd5e0010c9bae3_69fa821fe6" tabindex="-1" value=""></div>
            </div>
        </form>
      </div>
      <!--End mc_embed_signup-->
    </p>
  </div>
</section>