<!-- segment -->
<script>
  analytics.ready(function(){
    ga('require', 'Clearbit', {
      mapping: {
        companyName:           'dimension1',
        companyEmployeesRange: 'dimension2',
        companyTags:           'dimension3',
        companyTech:           'dimension4',
        companySubIndustry:    'dimension5',
        companyIndustry:       'dimension6',
        companyIndustryGroup:  'dimension7',
        companySector:         'dimension8',
        companyType:           'dimension9',
        companyDomain:         'dimension10'
      }
    });
  });
</script>

<script async src="https://ga.clearbit.com/v1/ga.js?authorization=pk_62ccfdeac9c8392c0b494b236371e11e"></script>
