.team {
  padding-top: 40px !important;

  h1 {
    font-size: 1.4em;
    border-bottom: 1px #999 solid;
  }

  a {
    color: #000;
    text-decoration: none;
  }
}

.team-member {
  padding: 10px;
  text-align: left;
  margin-bottom: 10px;

  img {
    display: inline-block;
    width: 140px;
    height: 140px;
    margin-right: 8px;
    vertical-align: top;
    border: 1px #999 solid;
  }

  .details {
    display: inline-block;
    width: 870px;
    font-size: 0.85em;

    h2 {
      font-size: 1.2em;
      margin: 0;
      padding: 0;
      margin-bottom: 6px;
      margin-top: 3px;
    }
  }
}
