.aa-dropdown-menu {
  left: 0px !important;
  right: auto !important;
  text-transform: none;
}

.aa-input-container {
  display: inline-block;
  float: left;
  position: relative;
}

.aa-input-search {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-transition: .2s;
  color: #333;
  font-family: "Lato", "Helvetica", "Arial", san-serif;
  font-size: 10pt;
  font-weight: normal;
  height: 32px;
  letter-spacing: 0.3pt;
  margin: 0;
  padding: 12px 28px 12px 12px;
  transition: .2s;
  width: 130px;
}

.aa-input-search::-webkit-search-decoration,
.aa-input-search::-webkit-search-cancel-button,
.aa-input-search::-webkit-search-results-button,
.aa-input-search::-webkit-search-results-decoration {
  display: none;
}

.aa-input-search:focus {
  border-color: #3a96cf;
  box-shadow: 4px 4px 0 rgba(58, 150, 207, 0.1);
  outline: 0;
}

.aa-input-icon {
  -webkit-transform: translateY(-50%);
  fill: #EA9B00;
  height: 20px;
  pointer-events: none;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
}

input[type=search] {
  -moz-border-radius: 10em;
  -webkit-border-radius: 10em;
  border-radius: 10em;
  border: solid 1px #ccc;
  padding: 9px 18px;
  width: 200px;
}

input[type=search]:focus {
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  background-color: #fff;
  border-color: #66CC75;
  box-shadow: 0 0 5px rgba(109,207,246,.5);
  width: 250px;
}
