@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i');
.aa-input-container {
  display: inline-block;
  position: relative; }

.aa-input-search {
  width: 300px;
  padding: 12px 28px 12px 12px;
  border: 2px solid #e4e4e4;
  border-radius: 4px;
  -webkit-transition: .2s;
  transition: .2s;
  font-family: "Open Sans", sans-serif;
  box-shadow: 4px 4px 0 rgba(241, 241, 241, 0.35);
  font-size: 12px;
  box-sizing: border-box;
   }
  

.aa-input-icon {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #e4e4e4;
  pointer-events: none; }

.aa-hint {
  color: red; }

.aa-dropdown-menu {
  background-color: rgba(255, 255, 255, 0.95);
  border: 2px solid rgba(228, 228, 228, 0.6);
  border-top-width: 0;
  font-family: "Open Sans", sans-serif;
  margin:auto; 
    width: 80%;
    min-width: 600px;
  box-shadow: 4px 4px 0 rgba(241, 241, 241, 0.35);
  font-size: 13px;
  border-radius: 4px;
  box-sizing: border-box; }

.aa-suggestion {
  padding: 10px 14px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

  .aa-suggestion:hover, .aa-suggestion.aa-cursor {
    background-color: rgba(241, 241, 241, 0.35); 
} 

.aa-suggestion span {
    min-width:220px; color: #000; 
    text-transform: none;
}
.aa-suggestion span:first-child {
        color: #EA9B23;
}

.aa-suggestion span:last-child {
    text-transform: none;
    color: #1777BB; }