.app-nav {
  @include outer-container;
  padding: 1rem;
  text-align: center;

  @include media($medium-screen-up) {
    text-align: left;
  }
}

.app-nav__link {
  color: $white;
  margin-right: 1rem;
  text-decoration: none;
  vertical-align: middle;
  opacity: 0.80;

  &:hover {
    color: $white;
    opacity: 1.00;
  }
}

.app-nav__logo-container {
  display: inline-block;
  vertical-align: middle;

  a {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  }
}

.app-nav__logo {
  max-height: 2.5em;
  vertical-align: middle;
  width: auto;
}

header.top {
  background: black;
}

header.welcome {
  padding-top: 24px;
}

header.top .links {
  float: right;
  margin-top: 8px;

  a {
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: bold;
  }
}
