---
title: "Convox Blog"
layout: blog
---

<section class="blog index">
  <div class="container">
    <div class="row">
      <div class="hidden-xs hidden-sm col-md-1 col-lg-2">
        {% include blog-extras.html %}
      </div>

      <div class="posts col-xs-12 col-sm-12 col-md-10 col-lg-8">
        {% for post in site.posts %}
          {% include post.html post=post excerpt=true %}
        {% endfor %}
      </div>

      <div class="hidden-xs hidden-sm col-md-1 col-lg-2">
      </div>
    </div>
  </div>
</section>
