---
title: "Convox Blog"
layout: blog
---

<main class="blog index">
  <section class="content with-extras">
    <section class="posts col-xs-12">
      {% for post in site.posts %}
        {% include post.html post=post excerpt=true %}
        <hr class="col-xs-11 row" class="post-separator">
      {% endfor %}

      <div class="blog-author col-xs-12 col-md-12">
        <a href="/blog/rss.xml"><img src="/assets/images/static/rss-icon.png"></a>
      </div>
    </section>

    {% include blog-extras.html %}
  </section>
</main>

{% include mailchimp.html %}
