<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>{{ page.title }}</title>

    <!-- CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/convox.css" rel="stylesheet">

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono:300,400' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900,300italic,400italic,700italic' rel='stylesheet' type='text/css'>

    <!-- JS -->
    <script src="/assets/js/jquery.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
      {% include nav.html %}
    </nav>

    {{ content }}

    <footer class="text-left">
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              © 2016 Convox, Inc.
              <br />
              <a href="/legal/privacy">Privacy Policy</a> |
              <a href="/jobs">Jobs</a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.easing.1.3.min.js"></script>
    <script src="/assets/js/classie.js"></script>

    {% include facebook.html %}
    {% include intercom.html %}
    {% include segment.html %}

    <script>
      $('.js-intercom-show').click(function () {
        Intercom('show');
        return false;
      });

      analytics.trackLink($('a.cta'), function(e) { return "clicked " + e.id })
    </script>
  </body>
</html>
