<!doctype html>
<html>
	<head>
		<title>{{ page.title }}</title>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/bootstrap-social.css">
		<link rel="stylesheet" href="/assets/css/convox.css">

		<script src="/assets/js/jquery.min.js"></script>
	</head>

	<body role="document">
		<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">
						<img src="/assets/img/logo.png" />
						<span class="logo-convox">Convox</span>
					</a>
				</div>
				<div id="navbar">
					<ul class="nav navbar-nav navbar-right">
						<li class="visible-sm visible-md visible-lg">
							<a href="/">
								Home
							</a>
						</li>
						<li class="visible-sm visible-md visible-lg">
							<a href="/blog">
								Blog
							</a>
						</li>
						<li class="visible-sm visible-md visible-lg">
							<a href="/docs">
								Docs
							</a>
						</li>
						<li class="visible-sm visible-md visible-lg">
							<a href="/team">
								Team
							</a>
						</li>
						<li>
							<button id="console-button" class="btn btn-primary btn-xs">
								<span class="glyphicon glyphicon-th" aria-hidden="true"></span>
								Console
							</a>
						</li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>

		<div id="mobile-nav" class="visible-xs">
			<div class="container">
				<ul>
					<li>
						<a href="/">
							Home
						</a>
					</li>
					<li>
						<a href="/blog">
							Blog
						</a>
					</li>
					<li>
						<a href="/docs">
							Docs
						</a>
					</li>
					<li>
						<a href="/team">
							Team
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div id="subnav" class="container">
			{% include subnav-{{page.subnav}}.html %}
		</div>

		{{ content }}

		<!-- scripts placed at the end of the document to improve load time -->

		{% include google-analytics.html %}
		{% include facebook.html %}
		{% include intercom.html %}

		<script src="/assets/js/bootstrap.min.js"></script>

		<script>
			$(window).ready(function() {
				if ($(window).width() < 768 && $(window).scrollTop() == 0) {
					window.setTimeout(function() {
						console.log('here');
						$(window).scrollTop(47);
						console.log('was');
					}, 100);
				}

				$('#console-button').on('click', function() {
					window.location.href = 'https://console.convox.com/grid/login'
				});
			});
		</script>
	</body>
</html>

