---
layout: base
---

<header>
  <div class="container"><h2>Convox Documentation</h2></div>
  {% include algolia.html %}

  <ul>
    <li class="pull-right visible-md-block visible-lg-block"><h2 id="version"></h2></li>
    <li class="pull-right visible-xs-block visible-sm-block">
      <div class="btn-group visible-xs-block visible-sm-block pull-right" id="toc-collapsed">
        <button id="toc-toggle" type="button" class="btn btn-xs btn-default dropdown-toggle"
          data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu docs-index">
          {% for collection in site.collections %}
            {% if (collection.label != "posts") and (collection.label != "guide") %}
              <li class="dropdown-header">{{ collection.title }}</li>
              {% assign pages = collection.docs | sort: 'order' %}
              {% for page in pages %}
                <li><a href="{{ page.url }}"><span>{{ page.title }}</span></a></li>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </li>
  </ul>
</header>

<div class="container subnav-content docs" role="main">
  <section id="toc" class="col-md-3 col-lg-3 visible-md-block visible-lg-block">
    {% for collection in site.collections %}
      {% if (collection.label != "posts") and (collection.label != "guide") %}
        <div class="collection">
          <h3>{{ collection.title }}</h3>
          <ul>
            {% assign pages = collection.docs | sort: 'order' %}
            {% for p in pages %}
              {% if page.title == p.title %}
                <li class="active"><a href="{{ p.url }}">{{ p.title }}</a></li>
              {% else %}
                <li><a href="{{ p.url }}"><span>{{ p.title }}</span></a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endfor %}
  </section>

  <section id="doc" class="col-md-9 col-sm-12 col-xs-12">
    <h1 class="title">{{ page.title }}</h1>

    <div class="content">
      {{ content }}
    </div>

    <div class="feedback">
      We happily welcome
      <a target="_new" href="https://github.com/convox/site/issues/new?title={{ page.title | cgi_escape }}+Feedback">feedback</a>
      or
      <a href="https://github.com/convox/site/edit/master/{{page.path}}">suggested changes</a> to this document.
    </div>
  </section>
</div>
