<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ page.title }}</title>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,700italic,700,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ "/assets/stylesheets/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  </head>

  <body"docs">
    <header class="top">
      <nav class="app-nav">
        <div class="app-nav__logo-container">
          <img src="/assets/images/static/navbar-logo.png" class="app-nav__logo">
          <a href="/" class="app-nav__link">Convox</a>
        </div>
        <div class="links">
          <a href="/blog" class="app-nav__link">Blog</a>
          <a href="https://github.com/convox" class="app-nav__link">Code</a>
          <a href="/docs" class="app-nav__link active">Docs</a>
          <a href="https://grid.convox.com" class="app-nav__link">Grid</a>
          <a href="mailto:support@convox.com" class="app-nav__link">Contact Us</a>
        </div>
      </nav>
    </header>

    <div class="docs">
      <div class="content">
        <section class="navigation col--3 sidebar">
          <h4>Getting Started</h4>
          <ul>
            {% assign pages = site.getting_started | sort: 'sort', 'last' %}
            {% for page in pages %}
              <li><a href="{{ page.url }}"><span>{{ page.title }}</span></a></li>
            {% endfor %}
          </ul>
          <h4>Languages and Frameworks</h4>
          <ul>
            {% assign pages = site.languages_and_frameworks | sort: 'sort', 'last' %}
            {% for page in pages %}
              <li><a href="{{ page.url }}"><span>{{ page.title }}</span></a></li>
            {% endfor %}
          </ul>
          <h4>Documentation</h4>
          <ul>
            {% assign pages = site.documentation | sort: 'sort', 'last' %}
            {% for page in pages %}
              <li><a href="{{ page.url }}"><span>{{ page.title }}</span></a></li>
            {% endfor %}
          </ul>
          <h4>Services</h4>
            <ul>
            {% assign pages = site.services | sort: 'sort', 'last' %}
            {% for page in pages %}
              <li><a href="{{ page.url }}"><span>{{ page.title }}</span></a></li>
            {% endfor %}
          </ul>
          <h4>Help</h4>
          <ul>
            {% assign pages = site.help | sort: 'sort', 'last' %}
            {% for page in pages %}
              <li><a href="{{ page.url }}"><span>{{ page.title }}</span></a></li>
            {% endfor %}
          </ul>
          <h4>Grid</h4>
          <ul>
            {% assign pages = site.grid | sort: 'sort', 'last' %}
            {% for page in pages %}
              <li><a href="{{ page.url }}"><span>{{ page.title }}</span></a></li>
            {% endfor %}
          </ul>
        </section>

        <section class="col--9">
          <h1>{{ page.title }}</h1>
          <hr>
          {{ content }}
        </section>
      </div>
    </div>

    <script src="//cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    {% include _search.html %}
    {% include _google_analytics.html %}
    {% include _intercom.html %}
  </body>
</html>
