---
layout: base
---

{% assign collection = site.collections | where:"label","guide" | first %}

<header>
  <div class="container"><h2>The Convox Guide</h2></div>

  <ul>
    <li class="pull-right visible-md-block visible-lg-block"><h2 id="version"></h2></li>
    <li class="pull-right visible-xs-block visible-sm-block">
      <div class="btn-group visible-xs-block visible-sm-block pull-right" id="toc-collapsed">
        <button id="toc-toggle" type="button" class="btn btn-xs btn-default dropdown-toggle"
          data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu docs-index guide">
          <li class="dropdown-header">{{ collection.title }}</li>
          {% for d in collection.docs %}
            <li><a href="{{ doc.url }}"><span>{{ d.title }}</span></a></li>
          {% endfor %}
        </ul>
      </div>
    </li>
  </ul>
</header>

<div class="container docs guide" role="main">
  <section id="toc" class="col-md-3 col-lg-3 visible-md-block visible-lg-block">
    <div class="collection">
      <h3>{{ collection.title }}</h3>
      <ul>
        {% for d in collection.docs %}
          {% if d.pending %}
              <li class="pending {{ d.phase }}">{{ d.title }}</li>
          {% else %}
            {% if page.title == d.title %}
              <li class="active {{ d.phase }}"><a href="{{ d.url }}">{{ d.title }}</a></li>
            {% else %}
              <li class="{{ d.phase }}"><a href="{{ d.url }}"><span>{{ d.title }}</span></a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </section>

  <section id="doc" class="col-md-9 col-sm-12 col-xs-12">
    <h1 class="title">{{ page.title }}</h1>

    <div class="content">
      {{ content }}
    </div>

    <div class="feedback">
      We happily welcome
      <a target="_new" href="https://github.com/convox/site/issues/new?title={{ page.title | cgi_escape }}+Feedback">feedback</a>
      or
      <a href="https://github.com/convox/site/edit/master/{{page.path}}">suggested changes</a> to this document.
    </div>
  </section>
</div>
